<div ng-controller="createContainerMiscController as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="container-workdir" translate>Working Directory</label>
        <input name="container-workdir" type="text" class="form-control" id="container-workdir"
               ng-model="model.newContainerSpec.workdir"
               placeholder="{$ 'The working directory for commands to run in.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="container-environment" translate>Environment Variables</label>
        <input name="container-environment" type="text" class="form-control" id="container-environment"
               ng-model="model.newContainerSpec.environment"
               placeholder="{$ 'KEY1=VALUE1,KEY2=VALUE2...'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <div class="themable-checkbox">
          <input name="container-interactive" type="checkbox" class="form-control" id="container-interactive"
                 ng-model="model.newContainerSpec.interactive">
          <label class="control-label" for="container-interactive" translate>Enable interactive mode</label>
        </div>
      </div>
    </div>
  </div>
</div>
