<div ng-controller="createContainerSpecController as ctrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="container-cpu" translate>CPU</label>
        <input name="container-cpu" type="number" id="container-cpu" min="0" step="0.1"
               class="form-control" ng-model="model.newContainerSpec.cpu"
               placeholder="{$ 'The number of virtual cpu for this container.'|translate $}">
      </div>
    </div>
    <div class="col-xs-12">
      <div class="form-group">
        <label class="control-label" for="container-memory-size" translate>Memory Size</label>
        <input name="container-memory-size" type="number" min="1"
               class="form-control" ng-model="model.newContainerSpec.memory_size"
               placeholder="{$ 'The container memory size in MiB.'|translate $}"
               id="container-memory-size">
      </div>
    </div>
  </div>
</div>
